[Unit]
Description=apache tomct server
After=network.target

[Service]
Type=forking
User=#TOMCAT_USER
Group=#TOMCAT_GROUP
Environment="JAVA_HOME=#JAVA_HOME_DIR"
Environment="CATALINA_HOME=JAVA_HOME_DIR#"
ExecStart=#JAVA_HOME_DIR/bin/startup.sh
ExecStop=#JAVA_HOME_DIR/bin/shutdown.sh
Restart=always
[Install]
WantedBy=multi-user.target

